<div>
	<div class="text-divider">
	 	<h2> CONHEÇA O MEU CARRETO </h2>
		<h2> Encontre qualquer tipo de transporte, para qualquer tipo de carga!</h2>
	</div>
	<p>O Meu Carreto é o local onde quem procura qualquer tipo de transporte para qualquer tipo de carga pode pesquisar nas páginas dos anunciantes o melhor tipo de transporte para sua necessidade.</p>
	<p>Também é o site onde anunciantes de qualquer tipo de transporte, para qualquer tipo de carga, criam uma página com informações dos serviços oferecidos, região de atendimento, horários de entrega / coleta e contato.</p>
	<p>O Meu Carreto é o site que linka quem quer transportar com quem precisa de transporte.</p>
	<p>Experimente você também !</p>
</div>	