<div class="contact">
	<div class="text-divider">
	 	<h2>ENTRE EM CONTATO</h2>
	 	<h2>No caso de dúvidas ou sugestões, entre em contato com o MeuCarreto.</h2>
	</div>
	<div class="info">
		<div class="col-sm-12 col-lg-6">
			<div class="form-group-carreto">
				<label for="name" class="control-label">Nome:</label>
				<input type="text" class="form-control" ng-model="info.name" placeholder="Digite seu nome">

				<label for="phone" class="control-label">Telefone:</label>
				<input type="text" class="form-control" ng-model="info.phone" placeholder="(XX) XXXXX-XXXX" ui-br-phone-number>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6" >
			<div class="form-group-carreto">
				<label for="email" class="control-label">E-mail:</label>
				<input type="email" class="form-control" ng-model="info.email" placeholder="seuemail@seumail.com">

				<label for="subject" class="control-label">Assunto:</label>
				<input type="subject" class="form-control" ng-model="info.subject" placeholder="Assunto">
				
			</div>
		</div>
		<div class="col-sm-12 col-lg-12" >
			<textarea class="contact-message" ng-model="info.message"></textarea>
		</div>
	</div>
	<div class="col-sm-12 col-lg-12 info-btn">
		<button type="button" class="btn btn-success btn-search" >Enviar</button>
	
	</div>
</div>